

.item_card {
  display: grid;
  font-size: 1.5em;
  grid-template-rows: 1fr 1fr 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 225px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  position: relative;
  border-radius: 5px;
}

.item_card > .name {
  padding: 20px 20px 0px 20px;
  font-size: 35px;
  font-family: 'Coda Caption', sans-serif;
}

.item_card .cat_list {
  display: flex;
  align-items: flex-end;
  padding: 5px;  
}

.item_card .plus_minus {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px 10px 10px;
  font-size: 30px;
}


.item_card .count {
  align-self: center;
  text-align: center;
  background: rgba(91, 131, 171, 0.8);
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: -20px;
  right: -20px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}


.count > p {
  font-weight: 700;
}

.item_card .subtle_category {
  color: black;
  color: rgba(211,211,211,0.1);
  -webkit-text-stroke: rgba(0, 0, 0, 0.2) 1px;
  font-size: 3em;
  justify-content: right;
  z-index: -1;
  position: absolute;
  top: 25px;
  right: 20px;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 600;
}

.minus {
  color: rgba(80,7,4, 0.8);
}


.plus {
  color: rgba(39, 80, 4, 0.8);
}

.plus,.minus:hover {
  cursor: pointer;
}