
.query {
  /* border: 3px solid lightgray; */
  background:  rgb(206, 209, 214);
  border-radius: 5px;
  box-shadow: 2px 2px 0px 6px #ccc;
  gap: 5px;
  padding: 10px;
  display: grid;
  grid-template-rows: 60px 200px;
}

.query > input {
  width: 80%;
  justify-self: center;
  border-radius: 5px;
}


.categories > ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

}

.items > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

