
.user_search {
  --query-row-height: 7.5rem;
}

.user_search p {
  font-size: 2rem;
}

.query {
  border-radius: 5px;
  gap: .5rem;
  padding: 10px;
  display: grid;
  grid-template-rows: 2.5rem var(--query-row-height);
}

.shown {
  --query-row-height: 10rem;
}

.collapsed {
  --query-row-height: .1rem;
}

.query > input {
  width: 100%;
  justify-self: center;
  border-radius: .25rem;
  font-size: 1.2rem;
}


.categories > ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.items > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}


@media only screen and (max-width: 479px) {
  .items > ul {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }
}
