.banner {
  background-color: #960c11;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.banner h1 {

  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: white;
  padding-left: 5%;
}

.banner img {
  padding-right: 5%;
}

.user_status_visible {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  color: #960c11;
  font-weight: 700;
  visibility: visible;
}

.user_status_visible i {
  margin-left: .4em;
}

.user_status_invisible {
  visibility: hidden;
}