:root {
  --border-color-in: #a6a4a3;
  --border-color-out: #ffff;
}

.auth_form {
  border: solid lightgrey;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction:column;
  margin: auto;
  margin-top:2.5rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h2 {
  padding: .5rem;
}

.authHeader {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, var(--border-color-in), var(--border-color-out));
  height: 50px;
  justify-content: flex-start;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inputs {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: .8rem;
  margin-right: 5%;
}

.authFooter {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to top, var(--border-color-in), var(--border-color-out));
  text-align: right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: 0;
}

.authFooter p {
  padding-right: .8rem;
}

.auth_input {
  display: flex;
  justify-content: space-between;
  padding-left: 1.2rem;
}

.auth_input label {
  
}

.auth_input input {
  border-radius: 5px;
}