
.banner {
  --main-bg-color: #960c11;
  --muted-bg-color: #b1363a;
  --main-text-color: white;
  --main-font: 'Roboto';
  --selected-color: rgb(242, 231, 228);
}

/* Remove all outlines from links */
a {
  outline: none;
}

/* Main Header, is not visible when the user is not logged in */
.header {
  height: 4rem;
  width: 100%;
  text-align: right;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

/* Main header text along the left side of the banner */
.header_text {
  color: var(--main-text-color);
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  padding-left: 1rem;
}

/* Don't color any links in the drop downs */
.header_text a {
  color: var(--main-text-color);
  text-decoration: none;
}

.header > ul > li {
  list-style: none;
  display: inline;
}


/* Refactor this..  This is text/icon for the menu item */
.menu_glyph_style {
  display: inline-block;
  padding-right: 1rem;
  color: var(--main-text-color);
  font-weight: 700;
  visibility: visible;
  font-family: var(--main-font);
}

.menu_glyph_style i {
  margin-left: .4rem;
}

.hidden_menu {
  font-family: var(--main-font);
}

/* @media only screen and (max-width: 479px) {
  .banner {
    font-size: .7rem;
  }
} */