
/* Main Header Above the Banner, keeps space the same if logged in or not */
.header {
  height: 55px;
  text-align: right;
}

/* Each menu item in the header */
.menu_item {
  display: inline;
  position: relative;
}

/* Shows the hidden_menu on hover */
.menu_item:hover .hidden_menu {
  display: block;
}

/* Drop dowmn menu, anchored to the menu_item */
.hidden_menu {
  display: none;
  position: absolute;
  text-align: left;
  padding: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  width: 150%;
  list-style: none;
  border: #960c11;
}

/* Unique item under each hidden_menu */
.hidden_menu  li {
  color: #960c11;
  padding: 15px;
}

/* Change background & radius when hovering over a hidden menu item */
.hidden_menu  li:hover {
  background-color: rgb(245, 215, 215);
  border-radius: 5px;
}


/* Main Splash Banner */
.banner {
  background-color: #960c11;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.banner h1 {
  font-family: 'Lobster', cursive;
  font-size: 5em;
  color: white;
  padding-left: 5%;
}

.banner img {
  padding-right: 5%;
}

/* Refactor this..  This is text/icon for the menu item */
.user_status_visible {
  display: inline-block;
  padding-right: 1em;
  color: #960c11;
  font-weight: 700;
  visibility: visible;
}

.user_status_visible i {
  margin-left: .4em;
}

.user_status_invisible {
  visibility: hidden;
}

/* Helps to center text with an icon */
.glyph {
  display: flex;
  align-items: center;
}
