
:root {
  --main-bg-color: #960c11;
  --main-text-color: white;
}

/* Main Header, is not visible when the user is not logged in */
.header {
  height: 4rem;
  width: 100%;
  text-align: right;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

/* Main header text along the left side of the banner */
.header_text {
  color: var(--main-text-color);
  font-family: 'Lobster', cursive;
  font-size: 2em;
  padding-left: 1em;
}

.header > ul > li {
  list-style: none;
}


/* Refactor this..  This is text/icon for the menu item */
.menu_glyph_style {
  display: inline-block;
  padding-right: 1em;
  color: var(--main-text-color);
  font-weight: 700;
  visibility: visible;
}

.menu_glyph_style i {
  margin-left: .4em;
}
