.input_form {
  --main-bg-color: #960c11;
  --main-font: 'Roboto';
}

.input_banner {
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: var(--main-bg-color);
}

.input_banner > p {
  margin: .5rem 0 .2rem 0;
}

.input_form {
  border: solid	#F0F0F0;
  box-shadow: 1px 1px 5px var(--main-bg-color);
  border-radius: .2rem;
  max-width: 450px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  /* Set the font size so everything can be scaled smaller with one value */
  font-size: 1rem;

}

.if_form {
  display: flex;
  flex-direction: column;
}

.if_form input {
  height: 2.2rem;
  margin: 1rem;
  padding-left: .8rem;
  background-color: #f0f0f0;
  font-family: var(--main-font);
  font-size: .9rem;
}

.if_form button {
  margin: 0rem .5rem 1rem .5rem;
  height: 2.5rem;
  background-color: var(--main-bg-color);
  color: white;
  border-radius: .5rem;
  font-family: var(--main-font);
  font-size: .9rem;
}

@media only screen and (max-width: 479px) {
  
  .input_form {
    width: 85%;
    min-width: 250px;
  }

}