:root {
  --main-bg-color: #960c11;
  --main-font: 'Roboto';
}

#input_banner {
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  color: var(--main-bg-color);
}

#input_banner > p {
  margin: .5em 0 .2em 0;
}

.input_form {
  border: solid	#F0F0F0;
  box-shadow: 1px 1px 5px var(--main-bg-color);
  border-radius: .2em;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

.if_form {
  display: flex;
  flex-direction: column;
}

.if_form input {
  height: 2.2rem;
  margin: 1em;
  padding-left: .8em;
  background-color: #f0f0f0;
  font-family: var(--main-font);
}

.if_form button {
  margin: 0em .5em 1em .5em;
  height: 2.5em;
  background-color: var(--main-bg-color);
  color: white;
  border-radius: .5em;
  font-family: var(--main-font);
}