

.main_view {
  display: grid;
  grid-template-rows: auto;
  gap: .5rem;
  margin: 0 5%;
}

.nav_type {
  margin-top: 1rem;
}

.nav_type ul {
  list-style: none;
  display: flex;
}

.nav_type ul > li {
  font-size: 1.5em;
  padding: 10px;
}

a { 
  text-decoration: none;
  color: black;
}

