
.mainContainer {
  border: solid lightgray;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: inset 1px 1px 3px #999;
}

.buttonDiv {
  display: flex;
  flex-direction: row-reverse;
}

ul {
  padding: 0;
  margin: 0;
}