
.mainContainer {
  border: solid lightgray;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: inset 1px 1px 3px #999;
}

.buttonDiv {
  display: flex;
  flex-direction: row-reverse;
  margin-top: .8em;
}

.buttonDiv button {
  display: inline-block;
  border: none;
  padding: .8rem .8rem;
  width: 10em;
  border-radius: 4%;
  margin: 0;
  margin-left: .5em;
  text-decoration: none;
  background: var(--main-bg-color);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}



ul {
  padding: 0;
  margin: 0;
}