
.detailItem {
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 2em;
}

.detailDescription {
  /* width: 40%; */
  flex-basis: 40%;
}


.detailData {
  border: solid rgb(208,208,208);
  background-color:  	var(--selected-color);
  width: 100%;
  box-shadow: 1px 1px 2px #999;
  margin-left: 1em;
}


.descriptionContent {
  border: solid rgb(208,208,208);
  background-color:  	rgb(232,232,232);
  width: max-content;
  padding: .5rem;
  box-shadow: 1px 1px 2px #999;
}

.detailDataContent {
  font-size: larger;
  padding: .5rem;
}

li {
  list-style-type: none;
  padding-bottom: .3em;
}

.itemProper {
  display: flex;
  justify-content: space-between;
}

.item_icons {
  display: none;
  padding-right: .8em;
}

.item_icons i {
  padding-left: .5em;
}

.item_icons:hover {
  cursor: pointer;
}

.itemProper:hover {
  font-weight: 700;
}

.itemProper:hover .item_icons {
  display: block;
}

@media screen and (max-width:960px) {
  .detailItem { flex-wrap: wrap;  }
  .detailData { margin-left: 0px; }
}

