
.mainContainer {
  border: solid lightgray;
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: inset 1px 1px 2px #999;
}

.mainContainer > div {
  margin: .8em;
}